.container {
    height: 70px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.right {
    font-size: 25px;
    font-weight: bold;
}
