:root {
    /*** pink ***/
    --uchu-pink-1-raw: 95.8% 0.023 354.27;
    --uchu-pink-1: oklch(var(--uchu-pink-1-raw));
    --uchu-pink-2-raw: 92.14% 0.046 352.31;
    --uchu-pink-2: oklch(var(--uchu-pink-2-raw));
    --uchu-pink-3-raw: 88.9% 0.066 354.39;
    --uchu-pink-3: oklch(var(--uchu-pink-3-raw));
    --uchu-pink-4-raw: 85.43% 0.09 354.1;
    --uchu-pink-4: oklch(var(--uchu-pink-4-raw));
    --uchu-pink-5-raw: 82.23% 0.112 355.33;
    --uchu-pink-5: oklch(var(--uchu-pink-5-raw));
    --uchu-pink-6-raw: 76.37% 0.101 355.37;
    --uchu-pink-6: oklch(var(--uchu-pink-6-raw));
    --uchu-pink-7-raw: 70.23% 0.092 354.96;
    --uchu-pink-7: oklch(var(--uchu-pink-7-raw));
    --uchu-pink-8-raw: 64.11% 0.084 353.91;
    --uchu-pink-8: oklch(var(--uchu-pink-8-raw));
    --uchu-pink-9-raw: 57.68% 0.074 353.14;
    --uchu-pink-9: oklch(var(--uchu-pink-9-raw));

    --uchu-yin-1-raw: 91.87% 0.003 264.54;
    --uchu-yin-1: oklch(var(--uchu-yin-1-raw));
    --uchu-yin-2-raw: 84.61% 0.004 286.31;
    --uchu-yin-2: oklch(var(--uchu-yin-2-raw));
    --uchu-yin-3-raw: 76.89% 0.004 247.87;
    --uchu-yin-3: oklch(var(--uchu-yin-3-raw));
    --uchu-yin-4-raw: 69.17% 0.004 247.88;
    --uchu-yin-4: oklch(var(--uchu-yin-4-raw));
    --uchu-yin-5-raw: 61.01% 0.005 271.34;
    --uchu-yin-5: oklch(var(--uchu-yin-5-raw));
    --uchu-yin-6-raw: 52.79% 0.005 271.32;
    --uchu-yin-6: oklch(var(--uchu-yin-6-raw));
    --uchu-yin-7-raw: 43.87% 0.005 271.3;
    --uchu-yin-7: oklch(var(--uchu-yin-7-raw));
    --uchu-yin-8-raw: 35.02% 0.005 236.66;
    --uchu-yin-8: oklch(var(--uchu-yin-8-raw));
    --uchu-yin-9-raw: 25.11% 0.006 258.36;
    --uchu-yin-9: oklch(var(--uchu-yin-9-raw));
    --uchu-yin-raw: 14.38% 0.007 256.88;
    --uchu-yin: oklch(var(--uchu-yin-raw));
    --uchu-yang-raw: 99.4% 0 0;
    --uchu-yang: oklch(var(--uchu-yang-raw));
}

:root {
    /* Lightness modifiers */
    --darken-amount: 20%;
    --lighten-amount: 15%;

    /* Red color system */
    --c-red-lightness: 70%;
    --c-red-chroma: 0.1;
    --c-red-hue: 25;
    --c-red: oklch(var(--c-red-lightness) var(--c-red-chroma) var(--c-red-hue));
    --c-red-dark: oklch(
        calc(var(--c-red-lightness) - var(--darken-amount)) var(--c-red-chroma)
            var(--c-red-hue)
    );
    --c-red-light: oklch(
        calc(var(--c-red-lightness) + var(--lighten-amount)) var(--c-red-chroma)
            var(--c-red-hue)
    );

    /* Green color system */
    --c-green-lightness: 70%;
    --c-green-chroma: 0.1;
    --c-green-hue: 144;
    --c-green: oklch(
        var(--c-green-lightness) var(--c-green-chroma) var(--c-green-hue)
    );
    --c-green-dark: oklch(
        calc(var(--c-green-lightness) - var(--darken-amount))
            var(--c-green-chroma) var(--c-green-hue)
    );
    --c-green-light: oklch(
        calc(var(--c-green-lightness) + var(--lighten-amount))
            var(--c-green-chroma) var(--c-green-hue)
    );

    /* Blue color system */
    --c-blue-lightness: 70%;
    --c-blue-chroma: 0.1;
    --c-blue-hue: 260;
    --c-blue: oklch(
        var(--c-blue-lightness) var(--c-blue-chroma) var(--c-blue-hue)
    );
    --c-blue-dark: oklch(
        calc(var(--c-blue-lightness) - var(--darken-amount))
            var(--c-blue-chroma) var(--c-blue-hue)
    );
    --c-blue-light: oklch(
        calc(var(--c-blue-lightness) + var(--lighten-amount))
            var(--c-blue-chroma) var(--c-blue-hue)
    );

    /* Orange color system */
    --c-orange-lightness: 70%;
    --c-orange-chroma: 0.1;
    --c-orange-hue: 52;
    --c-orange: oklch(
        var(--c-orange-lightness) var(--c-orange-chroma) var(--c-orange-hue)
    );
    --c-orange-dark: oklch(
        calc(var(--c-orange-lightness) - var(--darken-amount))
            var(--c-orange-chroma) var(--c-orange-hue)
    );
    --c-orange-light: oklch(
        calc(var(--c-orange-lightness) + var(--lighten-amount))
            var(--c-orange-chroma) var(--c-orange-hue)
    );

    /* Yellow color system */
    --c-yellow-lightness: 70%;
    --c-yellow-chroma: 0.1;
    --c-yellow-hue: 92;
    --c-yellow: oklch(
        var(--c-yellow-lightness) var(--c-yellow-chroma) var(--c-yellow-hue)
    );
    --c-yellow-dark: oklch(
        calc(var(--c-yellow-lightness) - var(--darken-amount))
            var(--c-yellow-chroma) var(--c-yellow-hue)
    );
    --c-yellow-light: oklch(
        calc(var(--c-yellow-lightness) + var(--lighten-amount))
            var(--c-yellow-chroma) var(--c-yellow-hue)
    );

    /* Purple color system */
    --c-purple-lightness: 70%;
    --c-purple-chroma: 0.1;
    --c-purple-hue: 298;
    --c-purple: oklch(
        var(--c-purple-lightness) var(--c-purple-chroma) var(--c-purple-hue)
    );
    --c-purple-dark: oklch(
        calc(var(--c-purple-lightness) - var(--darken-amount))
            var(--c-purple-chroma) var(--c-purple-hue)
    );
    --c-purple-light: oklch(
        calc(var(--c-purple-lightness) + var(--lighten-amount))
            var(--c-purple-chroma) var(--c-purple-hue)
    );
}

.red-bg-base {
    background-color: var(--c-red);
}

.green-bg-base {
    background-color: var(--c-green);
}

.blue-bg-base {
    background-color: var(--c-blue);
}

.orange-bg-base {
    background-color: var(--c-orange);
}

.yellow-bg-base {
    background-color: var(--c-yellow);
}

.purple-bg-base {
    background-color: var(--c-purple);
}

.red-bg-dark {
    background-color: var(--c-red-dark);
}

.green-bg-dark {
    background-color: var(--c-green-dark);
}

.blue-bg-dark {
    background-color: var(--c-blue-dark);
}

.orange-bg-dark {
    background-color: var(--c-orange-dark);
}

.yellow-bg-dark {
    background-color: var(--c-yellow-dark);
}

.purple-bg-dark {
    background-color: var(--c-purple-dark);
}
.red-modal-bg {
    background: radial-gradient(
        circle 500px at center 10%,
        oklch(
                calc(var(--c-red-lightness) - 50%) var(--c-red-chroma)
                    var(--c-red-hue)
            )
            0%,
        oklch(
                calc(var(--c-red-lightness) - 20%) var(--c-red-chroma)
                    var(--c-red-hue)
            )
            100%
    ) !important;
}

.green-modal-bg {
    background: radial-gradient(
        circle 500px at center 10%,
        oklch(
                calc(var(--c-green-lightness) - 50%) var(--c-green-chroma)
                    var(--c-green-hue)
            )
            0%,
        oklch(
                calc(var(--c-green-lightness) - 20%) var(--c-green-chroma)
                    var(--c-green-hue)
            )
            100%
    ) !important;
}

.blue-modal-bg {
    background: radial-gradient(
        circle 500px at center 10%,
        oklch(
                calc(var(--c-blue-lightness) - 50%) var(--c-blue-chroma)
                    var(--c-blue-hue)
            )
            0%,
        oklch(
                calc(var(--c-blue-lightness) - 20%) var(--c-blue-chroma)
                    var(--c-blue-hue)
            )
            100%
    ) !important;
}

.orange-modal-bg {
    background: radial-gradient(
        circle 500px at center 10%,
        oklch(
                calc(var(--c-orange-lightness) - 50%) var(--c-orange-chroma)
                    var(--c-orange-hue)
            )
            0%,
        oklch(
                calc(var(--c-orange-lightness) - 20%) var(--c-orange-chroma)
                    var(--c-orange-hue)
            )
            100%
    ) !important;
}

.yellow-modal-bg {
    background: radial-gradient(
        circle 500px at center 10%,
        oklch(
                calc(var(--c-yellow-lightness) - 50%) var(--c-yellow-chroma)
                    var(--c-yellow-hue)
            )
            0%,
        oklch(
                calc(var(--c-yellow-lightness) - 20%) var(--c-yellow-chroma)
                    var(--c-yellow-hue)
            )
            100%
    ) !important;
}

.purple-modal-bg {
    background: radial-gradient(
        circle 500px at center 10%,
        oklch(
                calc(var(--c-purple-lightness) - 50%) var(--c-purple-chroma)
                    var(--c-purple-hue)
            )
            0%,
        oklch(
                calc(var(--c-purple-lightness) - 20%) var(--c-purple-chroma)
                    var(--c-purple-hue)
            )
            100%
    ) !important;
}
