.container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(
        calc(100% - 80px)
    ); /* Adjust 90px to your expander height */
    transition: transform 100ms ease-out;
    background-color: var(--background-see-through);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.expander {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.expanderButton {
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: var(--foreground);
}

.content {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    opacity: 0;
}

.container.expanded {
    transform: translateY(0);
}

.container.expanded > .content {
    opacity: 1;
}
