.page {
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 16px;
    padding: 20px;
}

.counterItem:hover {
    cursor: pointer;
}

.counterModal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
}

.counterModal > h1 {
    font-size: 70px;
}

.counterButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.counterButton,
.editButton,
.lockButton {
    border-radius: 100%;
    background: none;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: 100ms cubic-bezier(0.23, 1, 0.32, 1);
}

.counterButton {
    width: 70px;
    height: 70px;
}

.editButton,
.lockButton {
    width: 40px;
    height: 40px;
}

.counterButton > svg,
.editButton > svg,
.lockButton > svg {
    stroke: rgba(255, 255, 255, 0.7);
}

.counterButton:hover,
.editButton:hover,
.lockButton:hover {
    cursor: pointer;
    scale: 1.05;
}

.counterButton:active,
.editButton:active,
.lockButton:active {
    scale: 1.1;
}

.lockButton.locked {
    background-color: rgba(200, 0, 0, 0.3);
    border-color: rgba(200, 0, 0, 1);
}

.lockButton.locked > svg {
    stroke: rgba(220, 0, 0, 1);
}

.addForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
}

.addModalContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.stylePicker {
    display: flex;
    gap: 30px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    max-width: 200px;
}
